<div>
    <div class="row">
        <div class="col-md-6 offset-3 alert alert-success text-center">
            <h2>Successfully Logged In</h2>
            <p>Go Back and Access Your Account Now.</p>
            <hr />
            <p>Thank you!</p>
        </div>
    </div>
</div>