@using CineTix.Data
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model CineTix.Data.NewMovie

@{
    ViewData["Title"] = "Add a New Movie";
}

<!DOCTYPE html>

<html>
<head>
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
</head>
<body>
    <div class="container mt-5" >
        <div class="row justify-content-center mb-5" style="background-color: #F5F5DC;">
            <div class="col-md-8 mt-5">
                <h1 class="text-center mb-4 mb-3" style="color: #800020">@ViewData["Title"]</h1>
                <form id="#createMovieForm" asp-action="Create" enctype="multipart/form-data">
                    <div id="#validationSummary" asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label asp-for="Title" class="form-label" style="color: #800020">Movie Name</label>
                                <input asp-for="Title" class="form-control" style="background-color: transparent;border: none;border-bottom: 2px solid #800020; color:black;" placeholder="Enter the Movie Name"/>
                                <span asp-validation-for="Title" class="text-danger"></span>
                            </div>
                            <div class="mb-3">
                                <label asp-for="ReleaseDate" class="form-label" style="color: #800020">Release Date</label>
                                <input asp-for="ReleaseDate" type="date" class="form-control" style="background-color: transparent;border: none;border-bottom: 2px solid #800020; color:black;" />
                                <span asp-validation-for="ReleaseDate" class="text-danger"></span>
                            </div>
                            <div class="mb-3">
                                <label asp-for="Price" class="form-label" style="color: #800020">Price ($)</label>
                                <input asp-for="Price" type="number" step="1.00" min="0" class="form-control" style="background-color: transparent;border: none;border-bottom: 2px solid #800020; color:black;" />
                                <span asp-validation-for="Price" class="text-danger"></span>
                            </div>
                            <div class="mb-3">
                                <label asp-for="Hours" class="form-label" style="color: #800020">Duration (Hours)</label>
                                <input asp-for="Hours" type="number" step="1" min="0" class="form-control" style="background-color: transparent; border: none; border-bottom: 2px solid #800020; color: black;" placeholder="Hours" />
                                <span asp-validation-for="Hours" class="text-danger"></span>
                            </div>

                            <div class="mb-3">
                                <label asp-for="Minutes" class="form-label" style="color: #800020">Duration (Minutes)</label>
                                <input asp-for="Minutes" type="number" step="1" min="0" max="59" class="form-control" style="background-color: transparent; border: none; border-bottom: 2px solid #800020; color: black;" placeholder="Minutes" />
                                <span asp-validation-for="Minutes" class="text-danger"></span>
                            </div>
                            <div class="mb-3">
                                <label asp-for="RottenTomatoScore" class="form-label" style="color: #800020">Rating</label>
                                <input asp-for="RottenTomatoScore" type="number" step="0.5" min="0" class="form-control" style="background-color: transparent;border: none;border-bottom: 2px solid #800020; color:black;" />
                                <span asp-validation-for="Price" class="text-danger"></span>
                            </div>
                            <div class="mb-3">
                                <label asp-for="ImageUrl" class="form-label" style="color: #800020">Upload Movie Poster</label>
                                <input type="file" name="MoviePosterUpload" class="form-control" style="background-color: transparent;border: none;border-bottom: 2px solid #800020; color:black;" />
                                <span asp-validation-for="ImageUrl" class="text-danger"></span>
                            </div>
                            <div class="mb-3">
                                <label asp-for="ImageUrl" class="form-label" style="color: #800020">Upload Movie Poster (portrait)</label>
                                <input type="file" name="MoviePosterPortrait" class="form-control" style="background-color: transparent;border: none;border-bottom: 2px solid #800020; color:black;" />
                                <span asp-validation-for="ImageUrl" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label asp-for="Genre" class="form-label" style="color: #800020">Genre</label>
                                <select asp-for="Genre" class="form-select" asp-items="Html.GetEnumSelectList<Genre>()" style="background-color: transparent;border: none;border-bottom: 2px solid #800020; color:black;"></select>
                                <span asp-validation-for="Genre" class="text-danger"></span>
                            </div>
                            <div class="mb-3">
                                <label asp-for="ActorId" class="form-label" style="color: #800020">Actors</label>
                                <select asp-for="ActorId" class="form-select" asp-items="ViewBag.Actors" style="background-color: transparent;border: none;border-bottom: 2px solid #800020; color:black;"></select>
                                <span asp-validation-for="ActorId" class="text-danger"></span>
                            </div>
                            <div class="mb-3">
                                <label asp-for="ProducerId" class="form-label" style="color: #800020">Producer</label>
                                <select asp-for="ProducerId" class="form-select" asp-items="ViewBag.Producers" style="background-color: transparent;border: none;border-bottom: 2px solid #800020; color:black;"></select>
                                <span asp-validation-for="ProducerId" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div class="mb-4 text-center">
                        <img width="100%" id="ImageUrlPreview" class="rounded"/>
                    </div>

                    <div class="mb-3">
                        <label asp-for="Synopsis" class="form-label" style="color: #800020">Synopsis</label>
                        <textarea asp-for="Synopsis" class="form-control" rows="4" placeholder="Enter the synopsis" style="background-color: transparent;border: none;border-bottom: 2px solid #800020; color:black;"></textarea>
                        <span asp-validation-for="Synopsis" class="text-danger"></span>
                    </div>

                    <div class="d-grid gap-2 mb-3">
                    <button type="submit" class="btn mt-3 mb-4" style="background-color: #800020; border-radius: 30px;color: white">Create</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
<script src="~/js/MovieCreation.js"></script>
</body>
</html>
